.scorecontainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 33%;
    margin: auto;
    margin-top: 10px;
}

.scorelist {
    padding-left: 10px;
    color:#333;
    font-size: 20px;
    font-family: monospace;
    line-height: 2em;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid black;
}

@media all and (max-width: 1024px) {
    .scorecontainer {
        width: 100%;
    }
}
