.centered {
    text-align: center;
    cursor: pointer;
}
.left {
    text-align: left;
    cursor: pointer;
}
.right {
    text-align: right;
}
.padded {
    margin-left: 5px;
    margin-right: 5px;
}