.ico {
    margin-left: 1em;
    margin-right: 1em;
    cursor: pointer;
}
.about {
    text-align: center;
    position: relative;
}
.about-text {
    margin: 1em;
    color: dimgray;
}
.flex-flex-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.flex-container {
    display: flex;
    flex-direction: column;
    width: 120px;
    justify-content: space-between;
}
.font {
    font-family: 'Archivo', sans-serif;
}
.anders {
    font-weight: 500;
    font-size: 48;  
}
img {
    cursor: pointer;
}
