
<div class = "about" style = "padding-bottom:7.5%">
    <h1 class = "font">
        Professional Experience
    </h1>
    <div class = "flex-flex-container">
        <div class = "flex-container" style = "text-align: center">
            <img src = "assets/typescript.svg" (click)="goTo('https://www.typescriptlang.org/')">
            <img src = "assets/csharp.svg" (click)="goTo('https://docs.microsoft.com/en-us/dotnet/csharp/')">
            <img src = "assets/vb.svg" (click)="goTo('https://docs.microsoft.com/en-us/dotnet/visual-basic/')">
            <img src = "assets/dart.svg" (click)="goTo('https://www.dartlang.org/')">
            <img src = "assets/sqlserver.svg" (click)="goTo('')">   
        </div>
        <div class = "flex-container" style = "text-align: center">
            <img src = "assets/angular.svg" (click)="goTo('https://angular.io/')">
            <img src = "assets/dotnet.svg" (click)="goTo('https://dotnet.microsoft.com/')">
            <img src = "assets/flutter.svg" (click)="goTo('https://flutter.io/')">
            <img src = "assets/nodejs.svg" (click)="goTo('https://nodejs.org/en/about/')">
        </div>
        <div class = "flex-container" style = "text-align: center">
            <img src = "assets/java.svg" (click)="goTo('https://www.java.com/en/')">
            <img src = "assets/azure.svg" (click)="goTo('https://azure.microsoft.com/en-us/')">
            <img src = "assets/javascript.svg" (click)="goTo('https://developer.mozilla.org/en-US/docs/Web/JavaScript')">
            <img src = "assets/android.svg" (click)="goTo('https://developer.android.com/')">
        </div>
    </div>
    <h1 class = "font">
        Personal Experience
    </h1>
    <div class = "flex-flex-container">
        <div class = "flex-container" style = "text-align: center">
            <img src = "assets/opengl.svg" (click)="goTo('https://www.opengl.org/')">
            <img src = "assets/react.svg" (click)="goTo('https://reactjs.org/')">
        </div>
        <div class = "flex-container" style="text-align:center">
            <img src = "assets/python.svg" (click)="goTo('https://www.python.org/')">
            <img src = "assets/lua.svg" (click)="goTo('https://www.lua.org/')">
            <img src = "assets/npm.svg" (click)="goTo('https://www.npmjs.com/')">
        </div>
    </div>
    <br>
    <i class = "fab fa-github fa-3x ico" (click) = "goTo('https://github.com/DarthEvandar')"></i>
    <i class = "fab fa-linkedin fa-3x ico" (click) = "goTo('https://linkedin.com/in/anders-sundheim')"></i>
</div>
