<p-card [ngClass] = "{'toggleHeader': module.toggle}"[title]="module.name" [style] = "{width: '400px'}">
    <p-header class = "card-header">
        <i class="fas fa-toggle-on fa-lg toggle" *ngIf="module.toggle && constellation"
        (click)="toggleConstellations()"></i>
        <i class="fas fa-toggle-off fa-lg toggle" *ngIf="module.toggle && !constellation"
        (click)="toggleConstellations()"></i>
        <i class="fa fa-info-circle fa-lg" (click)="goToInfo(module.repoLink)"></i>
    </p-header>
    <div *ngIf = "module.images && module.images.length > 1">
        <p-galleria [images] = "module.images"
        [showCaption] = "false"
        [autoPlay] = "false"
        [showFilmstrip] = "false"
        [panelWidth] = "300"
        [panelHeight] = "module.imageHeight">
        </p-galleria>
    </div>
    <div *ngIf = "module.image">
        <a [href] = "module.imageLink? module.imageLink:'javascript:;'">
            <img [src] = "module.image">
        </a>
    </div>
    <div *ngIf = "module.tree">
        <app-tree #tree (click)="newTree()"></app-tree>
    </div>
    <div *ngIf = "module.dungeonBoxes">
        <app-dungeon-boxes #dungeonBoxes (click)="newBoxes()"></app-dungeon-boxes>
    </div>
    <div *ngIf = "module.perlin">
        <app-perlin #perlin></app-perlin>
    </div>
    
    <p-footer>
        <app-label-container [labels] = "module.labels"></app-label-container>
        <div *ngIf = "module.interact" class = "interact">
            <i class="fa fa-desktop fa-lg" (click)="goToInfo(module.interact)"></i>
        </div>
    </p-footer>
</p-card>