app-tree, app-dungeon-boxes, app-perlin, fa, i {
    cursor: pointer;
}
p-toggleButton {
    margin-right: 1em;
}
.card-header {
    float: right;
    margin-top: 1em;
    margin-right: 1em;
}
.interact {
    display: inline-block;
    margin: 1em;
}
.toggle {
    margin-right: 1em;
}

