.label {
    display: inline-block;
    border-left: 6px solid black;
    border-right: 6px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-radius: 6px;
    margin: 1em;
    font-size: 12px;
    color: #EEEEEE;
}
