<!-- <app-constellations #constellations></app-constellations> -->
<div class = "header">
    <div class = "header-name">
        <div class = "header-text"routerLink = "/projects">
            Anders Sundheim
        </div>
    </div>
    <app-seperator></app-seperator>
    <div class="header-sub">
        <a routerLink="/about" routerLinkActive="active" style="padding-right:1%">
            About
        </a>
        <a routerLink="/spotify" routerLinkActive="active" style="padding-right:1%">
            Spotify
        </a>
    </div>
</div>
<router-outlet></router-outlet>
<footer class = "foot">
    <div class = "foot-content">
        Made by Anders Sundheim using 
        <i class="fas fa-coffee"></i>
         ,
        <i class="fas fa-heart"></i>
         ,
        <i class="fab fa-font-awesome-flag"></i>
        and 
        <i class="fab fa-angular"></i>
    </div>
</footer>
