app-anders-container{
    text-align: center;
}

.header {
    position: relative;
}
.header-name, .header-sub {
    text-align: center;
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
}
.header-name {
    font-size: 60px;
    .header-text {
        display: inline-block;
        cursor: pointer;
    }
}
.header-sub {
    font-size: 24px;
    display: flex;
    justify-content: center;
    a {
        margin: 10px;
    }
}
.foot {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: #cccccc;
    bottom: 0;
    position: absolute;
    width:100%;
    bottom: 0;
}
.foot-content {
    align-self: flex-end;
    margin-bottom: .5em;
    color: dimgray;
    font-family: 'Archivo', sans-serif;
}
