<!-- <app-constellations #constellations></app-constellations> -->
<div class = "header">
    <div class = "header-name">
        <div class = "header-text"routerLink = "/projects">
            {{ getHeader() }}
        </div>
    </div>
    <app-seperator></app-seperator>
    <div class="header-sub">
        <a routerLink="/" routerLinkActive="active">
            Projects
        </a>
        <a routerLink="/about" routerLinkActive="active">
            About
        </a>
        <a routerLink="/blog" routerLinkActive="active" >
            Blog
        </a>
    </div>
</div>

<router-outlet></router-outlet>
<footer class = "foot">
    <div class = "foot-content">
        Made by <a href="https://github.com/asundheim">Anders Sundheim</a>
        using 
        <i class="fas fa-coffee" (click)="navTo()"></i>
         ,
        <i class="fas fa-heart"></i>
        , and 
        <i class="fab fa-angular"></i>
    </div>
</footer>
