.postlist {
    max-width:70ch;
    padding:1.5ch;
    margin:auto;
    color:#333;
    font-size: 16px;
    font-family: monospace;
    line-height: 1.8em;
}

.postcontainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    width: 33%;
    margin: auto;
}
@media all and (max-width: 1024px) {
    .postcontainer {
        width: 100%;
    }
}