/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');
@import "~prismjs/plugins/toolbar/prism-toolbar.css";

.ui-card, .ui-galleria {
    margin-left: auto;
    margin-right: auto;
}
.ui-card-title {
    margin-left: 1em;
}
.toggleHeader {
    .ui-card-title {
        margin-left: 2em !important;
    }
}
.blogpost {
    max-width:70ch;
    padding:1.5ch;
    margin:auto;
    color:#333;
    font-size: 16px;
    font-family: 'Open Sans', Georgia, helvetica, arial, sans-serif;
    line-height: 1.8em;
}
.blogsingleimage {
    display: flex;
    justify-content: center;
    > img {
        width: 90%;
    }
}
.blogdualimage {
    display:flex;
    justify-content: space-between;
    > img {
        width: 40%;
    }
}
.blogtitle {
    font-size: 18px !important;
}
section {
    > div:nth-of-type(n+3) {
        margin-top: 12.5px;
        margin-bottom: 12.5px;
    }
}

code {
    font-size: .9em !important; 
    font-family: 'Fira Code', monospace !important;
}
tr {
    background-color: unset!important;
    text-align: center;
}
td {
    border: 0px !important;
}
body {
    background-color: #eeeeee;
    margin: 0;
    min-height: 100%;
    position: relative;
}
html {
    height: 100%;
}

// Prism


code[class*="language-"],
pre[class*="language-"] {
    color: #ccc;
    background: none;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;

}

/* Code blocks */
pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background: #282e33;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #6a6e6d;
}

.token.punctuation {
    color: #ccc;
}

.token.tag,
.token.namespace,
.token.deleted {
    color: #e2777a;
}

.token.boolean {
    color: #f08d49;
}

.token.function,
.token.function-name {
    color: #e75d57
}

.token.number,
.token.constant {
    color: #aa97d3;
}

.token.symbol {
    color: #f8c555;
}

.token.property,
.token.attr-name {
    color: #6b9dd0;
}

.token.class-name,
.token.selector,
.token.builtin {
    color: #81d9c3;
}

.token.string,
.token.char,
.token.url {
    color: #87d68a;
}

.token.important,
.token.atrule {
    color: #cc99cd;
}

.token.keyword,
.token.operator {
    color: #f6e78a;
}

.token.attr-value,
.token.regex,
.token.variable {
    color: #fdfae9;
}

.token.entity {
    color: #67cdcc;
}

.token.important,
.token.bold {
    font-weight: bold;
}
.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

.token.inserted {
    color: green;
}

