/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');
.ui-card, .ui-galleria {
    margin-left: auto;
    margin-right: auto;
}
.ui-card-title {
    margin-left: 1em;
}
.toggleHeader {
    .ui-card-title {
        margin-left: 2em !important;
    }
}
.blogpost {
    max-width:70ch;
    padding:1.5ch;
    margin:auto;
    color:#333;
    font-size: 16px;
    font-family: 'Open Sans', Georgia, helvetica, arial, sans-serif;
    line-height: 1.8em;
}
.blogsingleimage {
    display: flex;
    justify-content: center;
}
.blogdualimage {
    display:flex;
    justify-content: space-between;
}
.blogtitle {
    font-size: 18px !important;
}
.paragraph {
    margin-top: 12.5px;
    margin-bottom: 12.5px;
}
code {
    font-size: .9em !important; 
    font-family: 'Fira Code', monospace !important;
}
tr {
    background-color: unset!important;
    text-align: center;
}
td {
    border: 0px !important;
}
body {
    background-color: #eeeeee;
    margin: 0;
    min-height: 100%;
    position: relative;
}
html {
    height: 100%;
}
