/* You can add global styles to this file, and also import other style files */
.ui-card, .ui-galleria {
    margin-left: auto;
    margin-right: auto;
}
.ui-card-title {
    margin-left: 1em;
}
.toggleHeader {
    .ui-card-title {
        margin-left: 2em !important;
    }
}
tr {
    background-color: unset!important;
    text-align: center;
}
td {
    border: 0px !important;
}
body {
    background-color: #eeeeee;
    margin: 0;
    min-height: 100%;
    position: relative;
}
html {
    height: 100%;
}